body {
    font-family: Arial, sans-serif;
    margin: 10px;
}

h1 {
    text-align: center;
}

input[type="date"],
input[type="number"],
button {
    margin: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: calc(100% - 22px); /* Adjusted width to account for padding and border */
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.negative {
    color: red;
}

/* Modal-like input container */

.title {
    padding: 10px;
    background-color: #45a049d8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.entry {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.date-entry {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.date-entry label {
    font-weight: bold;
}

.income-entry,
.expense-entry {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.btn-container {
    background-color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: auto; /* Enable scrolling if buttons overflow */
}

.btn-container button {
    padding: 10px 20px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.btn-container button:hover {
    background-color: #45a049;
}

/* Monthly stats container */
.monthly-stats {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Monthly stats headings */
.monthly-stats h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

/* Monthly stats values */
.monthly-stats p {
    margin: 5px 0;
    font-size: 16px;
}

/* Total income */
.monthly-stats #totalIncome {
    color: green;
}

/* Total expenses */
.monthly-stats #totalExpenses {
    color: red;
}

/* Average */
.monthly-stats #average {
    color: #333;
}

/* Table styles */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table-container {
    overflow-x: auto;
    margin-bottom: 10px;
}

.table th, .table td {
    padding: 2px;
    text-align: center;
}